<p><!--AYAYA--></p>
<!-- <p>settings works!</p> -->
<form [formGroup]="SettingsForm" (ngSubmit)="onSubmit()">

	<div class="center">
    	<label for="thema">
    		Thema
		</label>
		<!--
        <label class="switch">
            <input id="thema" type="checkbox" formControlName="thema">
            <span class="slider round"></span>
        </label>  
    	<input id="thema" type="checkbox" formControlName="thema"> 
		-->
		<select name="thema" id="thema" formControlName="thema">
			<option value="LIGHT">Licht</option>
			<option value="DARK">Donker</option>
			
		</select>
	</div>

	<div class="center">
    	<label for="accountInstellingen">
      		Account Instellingen
    	</label>
    	<input id="accountInstellingen" type="checkbox" formControlName="accountInstellingen">
  	</div>

    
    <div class="center">
        <label for="taal">
            Taal
        </label>
            <select name="taal" id="taal" formControlName="taal">
                <option value="NL">Nederlands</option>
                <option value="EN">Engels</option>
                <option value="JP">Japans</option> 
            </select>
    </div> 
    
	<div class="center">
		<button class="button" type="submit">Opslaan</button>
	</div>

</form>

<form [formGroup]="nameForm" (ngSubmit)="onSubmitName()">

	<div class="center">
    	<label for="username">
    		Nieuwe gebruikersnaam
    	</label>
    	<input id="username" type="text" formControlName="username">
	</div>

	<div class="center">
    	<label for="password">
      		Wachtwoord
    	</label>
    	<input id="password" type="password" formControlName="password">
  	</div>

	<div class="center">
		<button class="button" type="submit">Verander gebruikersnaam</button>
	</div>

</form>

<form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">

	<div class="center">
    	<label for="password">
      		Wachtwoord
    	</label>
    	<input id="password" type="password" formControlName="password">
  	</div>

	<div class="center">
    	<label for="newPassword">
      		Nieuw wachtwoord
    	</label>
    	<input id="newPassword" type="password" formControlName="newPassword">
  	</div>

	<div class="center">
    	<label for="newPasswordVerify">
      		Herhaal nieuw wachtwoord
    	</label>
    	<input id="newPasswordVerify" type="password" formControlName="newPasswordVerify">
  	</div>

	<div class="center">
		<button class="button" type="submit">Verander gebruikersnaam</button>
	</div>

</form>


<form [formGroup]="deleteForm" (ngSubmit)="onSubmitDelete()">

	<div class="center">
    	<label for="username">
    		Nieuwe gebruikersnaam
    	</label>
    	<input id="username" type="text" formControlName="username">
	</div>

	<div class="center">
    	<label for="password">
      		Wachtwoord
    	</label>
    	<input id="password" type="password" formControlName="password">
  	</div>

	<select name="confirm" id="confirm" formControlName="confirm">
		<option value = 0>NEE, ik wil niet al mijn data kwijtraken!</option>
		<option value = 1>JA, verwijder mijn account.</option>	
	</select>

	<div class="center">
		<button class="button" type="submit">Verander gebruikersnaam</button>
	</div>

</form>