<p>main works!</p>

<div id="mainDiv">

	<router-outlet></router-outlet>
	<!--
	<button (click)= "subscribeNotifications()">Subscribe for more</button>
	-->
	<section class=" u-clearfix u-section-1" id="sec-e004">
		<div class="u-clearfix u-sheet "><!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":"","gridProps":[{"mode":"XL","columns":2,"gap":10,"styles":".u-section-1 .u-repeater-1 {grid-auto-rows: [[XL_VALUE]] !important}"},{"mode":"LG","columns":2,"gap":10,"styles":"@media (max-width: 1199px) {.u-section-1 .u-repeater-1 {grid-auto-rows: [[LG_VALUE]] !important}}"},{"mode":"MD","columns":2,"gap":10,"styles":"@media (max-width: 991px) {.u-section-1 .u-repeater-1 {grid-auto-rows: [[MD_VALUE]] !important}}"},{"mode":"SM","columns":1,"gap":10,"styles":"@media (max-width: 767px) {.u-section-1 .u-repeater-1 {grid-auto-rows: [[SM_VALUE]] !important}}"},{"mode":"XS","columns":1,"gap":10,"styles":"@media (max-width: 575px) {.u-section-1 .u-repeater-1 {grid-auto-rows: [[XS_VALUE]] !important}}"}]}--><!--/products_options_json-->
			<div class="u-products-1">
				<div class="u-repeater u-repeater-1"><!--product_item-->

					<!--stuff-->

				</div>
			</div><!--/products-->
		</div>
	</section> 

</div>
